

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #f8f8f8;
    color: white;
    padding: 2px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    display: flex;
    align-items: center;
    flex: 1;
}
.menu{
    color: #5f3915;
}
.header .logo img {
    margin-right: 2px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    flex: 1;
}
.header .menu {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header .cart-icon {
    font-size: 24px;
    cursor: pointer;
    color: #ac7d51;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.header .search-icon {
    font-size: 24px;
    cursor: pointer;
    color: #ac7d51;
    margin-left: 10px;
}
.main {
            position: relative;
            text-align: center;
            color: white;
        }
        .carousel {
            position: relative;
            width: 100%;
            overflow: hidden;
        }
        .carousel-inner {
            display: flex;
            transition: transform 0.5s ease;
        }
        .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
        }
        .carousel-item img {
            width: 100%;
            height: 400px; 
            object-fit: cover; 
        }
        .carousel .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .carousel .text h1 {
            font-size: 48px;
            margin: 0;
        }
        .carousel .text p {
            font-size: 18px;
            margin: 10px 0;
        }
        .carousel .text .button {
            background-color: #ac7d51;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        .carousel-control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            font-size: 24px;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;
        }
        .carousel-control.left {
            left: 10px;
        }
        .carousel-control.right {
            right: 10px;
        }

.main .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .content h1 {
    font-size: 48px;
    margin: 0;
}
.main .content p {
    font-size: 24px;
    margin: 10px 0;
}
.main .content .btn {
    background-color: #ac7d51;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.main .content .btn i {
    margin-right: 10px;
}
.social-icons {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    align-items: center;
}
.social-icons a {
    display: block;
    margin: 10px 0;
    color: white;
    font-size: 24px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.social-icons a.facebook {
    background-color: #3b5998;
}
.social-icons a.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.social-icons a.tiktok {
    background-color: #010101;
}
.social-icons a.whatsapp {
    background-color: #25d366;
}

.barra {
    background-color: #5f3915;
    color: white;
    text-align: center;
    padding: 8px 0;
    position: relative;
    z-index: 1;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.gallery-item {
    background-color: #f7f4f4;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    transition: width 2s, height 2s, transform 2s;
}
.gallery:hover{
    div:hover {
        width: 300px;
        height: 300px;
      }
}
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.gallery-item .description {
    margin-top: 10px;
    font-size: 16px;
}
.gallery-item .quantity-selector {
    background-color: #a5794c;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 120px;
    justify-content: space-between;
    margin: 10px auto;
}
.gallery-item .quantity-selector button {
    background-color: #5f3915;
    color: white;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}
.gallery-item .quantity-selector input {
    width: 40px;
    text-align: center;
    border: none;
    background: none;
    font-size: 16px;
}
.gallery-item .cart-button {
    background-color: #5f3915;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 120px;
    justify-content: space-between;
    margin: 10px auto;
}
.gallery-item .cart-button i {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-item .cart-button i .fa-plus {
    font-size: 12px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}
.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
}
.product-card img {
    width: 50px;
    height: 50px;
}
.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}
.product-card p {
    color: #666;
    font-size: 14px;
    margin: 10px 0;
}
.quantity-control {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.quantity-control button {
    background-color: #d1ecf1;
    border: none;
    border-radius: 5px;
    color: #5f3915;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
}
.quantity-control span {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin: 0 10px;
}
.add-to-cart {
    background-color: #5f3915;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}
.add-to-cart i {
    margin-left: 5px;
}
.footer {
    background-color: #3b2e2e;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
}
.menu-items {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    position: absolute;
    right: 0;
    top: 60px; 
    width: 200px;
    border-radius: 5px;
    z-index: 100; 
}

.menu-items li {
    padding: 10px;
    text-align: center;
}

.menu-items li a {
    color: #5f3915;
    text-decoration: none;
    display: block;
}

.menu-items li a:hover {
    background-color: #ac7d51;
}

/* Mostrar el menú cuando se activa */
.menu-items.show {
    display: block;
}

.text{
    color: #ffffff;
}

.fas fa-bars{
    color:#5f3915;
}
.Variedad{
    margin-top: 2px;
    box-shadow: 0 0 5px;
    padding-left: 20px;
    background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
    linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
    background-size: 25px 25px;
    font-size: 25px;
    

}

.Variedad-texto{
    font-size: 28px;
    text-align: center;
    color: #333;
  font-family: Arial, sans-serif;

}

.texto-final {
    text-align: right; 
    float: right; 
   
}

.logo-final{
    text-align: center;
    image-orientation:0deg;
}

.search-bar {
            display: none;
            position: absolute;
            top: 60px;
            right: 20px;
            background-color: white;
            border: 1px solid #ccc;
            padding: 5px;
            z-index: 1000;
        }
        .search-bar input {
            padding: 5px;
            font-size: 16px;
            border: none;
            outline: none;
        }
        .promociones {
            background-color: #f7f7f7;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 80%; 
            height: 180px; 
            margin: 40px auto; 
        }

.promociones ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.promociones li {
    margin-bottom: 20px;
}

.promociones h3 {
    font-weight: bold;
    margin-top: 0;
}

.promociones img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

.linkinicio {
    text-decoration: none; 
    color: #ac7d51; 
}

.titulo {
    text-align: center; 
    color: #5f3915; 
    font-size: 12px; 
    
}

.contents p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.Somos {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    height: 250px; 
    margin: 40px auto; 
}
.Somos p {
    text-align: justify;
    text-justify: inter-word;
  }